# Logs
logs
*.log
**/log

# Runtime data
pids
*.pid
*.seed

# Compiled binary addons (http://nodejs.org/api/addons.html)
build/*

# Dependency directory
# https://docs.npmjs.com/cli/shrinkwrap#caveats
node_modules
**/node_modules

# Debug log from npm
npm-debug.log
**/npm-debug.log

# visual studio for code config
.vscode
