@mixin font_regular {
  font-family: 'font', sans-serif;
  font-weight: 400;
}

@mixin font_medium {
  font-family: 'font', sans-serif;
  font-weight: 500;
}

@mixin font_bold {
  font-family: 'font', sans-serif;
  font-weight: 700;
}

@mixin font_light {
  font-family: 'font', sans-serif;
  font-weight: 300;
}

@mixin font_thin {
  font-family: 'font', sans-serif;
  font-weight: 100;
}
